<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers"
    data-namespace-typo3-fluid="true"><f:spaceless>
    <f:if condition="{files->f:count()}">
        <f:if condition="{grid.mediaitem.row_space_classes}"><div class="overflow-hidden"></f:if>
        <div class="{grid.mediaitem.row_classes} {grid.mediaitem.row_space_classes}">
            <f:for each="{files}" as="media">
                <div class="{grid.mediaitem.col_classes} {grid.mediaitem.col_space_classes}">
                    <f:if condition="{grid.mediaitem.item_classes}">
                        <f:then>
                            <div class="{grid.mediaitem.item_classes} h-100">
                                <f:render partial="Media/Type" arguments="{file:media, dimensions:column.dimensions, data:data, grid:grid, settings:settings}" />
                            </div>
                        </f:then>
                        <f:else>
                            <f:render partial="Media/Type" arguments="{file:media, dimensions:column.dimensions, data:data, grid:grid, settings:settings}" />
                        </f:else>
                    </f:if>
                </div>
            </f:for>
        </div>
        <f:if condition="{grid.mediaitem.row_space_classes}"></div></f:if>
    </f:if>
</f:spaceless></html>
