<!DOCTYPE html>
<html lang="de" class="page-error">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!-- 
                         _                 ___   ___  __  ___
                        (_)               |__ \ / _ \/_ |/ _ \
        ___ _   _ _ __  ___  __ _______     ) | | | || | (_) |
        / __| | | | '_ \| \ \/ /|_  / __|   / /| | | || |\__, |
        \__ \ |_| | | | | |>  <  / /\__ \  / /_| |_| || |  / /
        |___/\__,_|_| |_|_/_/\_\/___|___/ |____|\___/ |_| /_/
        -->
        <title>Error: {message}</title>
        <meta http-equiv="x-ua-compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes" />
        <meta name="robots" content="noindex" />
        <link rel="stylesheet" type="text/css" href="/assets/css/Error.css" media="all">
    </head>
    <body lang="de">
        <div class="content--error"><f:render section="Main" /></div>
    </body>
</html>

