<!DOCTYPE html>
<html lang="de" class="page-error">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Error: {message}</title>
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
        <meta name="robots" content="noindex">
        <link rel="stylesheet" href="/fileadmin/bootstrap/assets/css/error-page.css" media="all">
    </head>
    <body lang="de">
        <div class="content--error"><f:render section="Main" /></div>
    </body>
</html>

