<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <!--
    Default header
    -->
    <f:section name="Default"><f:spaceless>
        <header class="mb-5 pb-3">
            <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
                <div class="container-xl">
                    <f:link.page pageUid="{settings.rootPageId}" class="navbar-brand">
                        {header_brand -> f:format.raw()}
                    </f:link.page>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header_navigation" aria-controls="header_navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="header_navigation">
                        <f:render partial="Navigation/Tree" section="Dropdown" arguments="{items:header_menu_main}" />
                    </div>
                </div>
            </nav>
        </header>
    </f:spaceless></f:section>
</html>