<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Plain" />

    <f:section name="Main">
        <f:if condition="{item}">
            <f:then>
                <f:render section="_Item" arguments="{_all}" />
            </f:then>
            <f:else>
                404 Item not found!
            </f:else>
        </f:if>
    </f:section>

    <f:section name="_Item">
        <table>
            <tr>
                <th><f:translate key="tx_bootstrap_domain_model_item.title" /></th>
                <td>{item.title}</td>
            </tr>
            <tr>
                <th><f:translate key="tx_bootstrap_domain_model_item.subtitle" /></th>
                <td>{item.subtitle}</td>
            </tr>
            <tr>
                <th><f:translate key="tx_bootstrap_domain_model_item.image" /></th>
                <td>
                    <f:if condition="{item.image}">
                        <picture>
                            <source media="(max-width:480px)" src="{f:uri.image(image:item.image, maxWidth:480)} 1x, {f:uri.image(image:item.image, maxWidth:960)} 2x" />
                            <source media="(min-width:481px)" src="{f:uri.image(image:item.image, maxWidth:960)}" />
                            <source media="(min-width:961px)" src="{f:uri.image(image:item.image, maxWidth:1440)}" />
                            <source media="(min-width:1441px)" src="{f:uri.image(image:item.image, maxWidth:1920)}" />
                            <f:image image="{item.image}" maxWidth="100" alt="{item.title}" />
                        </picture>
                    </f:if>
                </td>
            </tr>
            <tr>
                <th><f:translate key="tx_bootstrap_domain_model_item.typolink" /></th>
                <td>
                    <f:if condition="{item.typolink}">
                        <f:link.typolink parameter="{item.typolink}">follow the white rabbit</f:link.typolink>
                    </f:if>
                </td>
            </tr>
            <tr>
                <th><f:translate key="tx_bootstrap_domain_model_item.description" /></th>
                <td>{item.description -> f:format.html()}</td>
            </tr>
        </table>
    </f:section>

</html>