<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Plain" />

    <f:section name="Main">
        <f:if condition="{items -> f:count()}">
            <ul>
                <f:for each="{items}" as="item">
                    <li>
                        <f:link.action pageUid="6" action="details" arguments="{item:item}">{item.title}</f:link.action>
                    </li>
                </f:for>
            </ul>
        </f:if>
    </f:section>
</html>