<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:section name="Default">
    <f:if condition="{items -> f:count()}">
        <ul class="{settings.bootstrap.nav_ul_classes}{additionalClass}">
            <f:for each="{items}" as="item">
                <li class="{settings.bootstrap.nav_li_classes}">
                    <f:render partial="Navigation/Link" section="Default" arguments="{item:item}" />
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>

</html>
